.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
} .u-section-2 {
  background-image: none;
  min-height: 579px;
}

.u-section-2 .u-slider-1 {
  min-height: 579px;
  height: auto;
  margin: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-image-1 {
  width: 176px;
  height: 176px;
  background-image: url("images/paDendaJaketKORMI.png");
  background-position: 50% 19.46%;
  margin: 112px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-2 .u-carousel-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-image-2 {
  width: 176px;
  height: 176px;
  background-image: url("images/319927917_2268679539972362_8446323340895427941_n.jpg");
  background-position: 50% 50%;
  margin: 112px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    min-height: 559px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 244px;
}

.u-section-3 .u-text-1 {
  margin: 39px auto 0 490px;
}

.u-section-3 .u-countdown-1 {
  margin: 53px auto 0 515px;
}

.u-section-3 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-icon-1 {
  width: 80px;
  height: 166px;
  margin: -166px auto 27px 301px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 347px;
  }

  .u-section-3 .u-countdown-1 {
    margin-left: 258px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 633px;
  }

  .u-section-3 .u-countdown-1 {
    margin-left: 419px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: -263px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 570px;
  }

  .u-section-3 .u-countdown-1 {
    margin-left: 338px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: -338px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 534px;
  }

  .u-section-3 .u-countdown-1 {
    margin-left: 388px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: -388px;
  }
} .u-section-4 {
  min-height: 590px;
}

.u-section-4 .u-gallery-1 {
  height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 22px;
}

.u-section-4 .u-back-image-1 {
  width: 308px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 22px;
}

.u-section-4 .u-back-image-2 {
  width: 308px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 22px;
}

.u-section-4 .u-back-image-3 {
  width: 308px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 22px;
}

.u-section-4 .u-back-image-4 {
  width: 308px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 22px;
}

.u-section-4 .u-back-image-5 {
  width: 308px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 22px;
}

.u-section-4 .u-back-image-6 {
  width: 308px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
} .u-section-5 {
  min-height: 507px;
}

.u-section-5 .u-blog-1 {
  margin-top: 57px;
  margin-bottom: 57px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
  grid-gap: 31px 31px;
  min-height: 394px;
  grid-auto-columns: calc(33.3333% - 20.6667px);
}

.u-section-5 .u-image-1 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 1px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 146px;
}

.u-section-5 .u-metadata-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin-bottom: 0;
}

.u-section-5 .u-image-2 {
  background-image: url("images/1_20221209_172806_0000.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 1px;
}

.u-section-5 .u-text-3 {
  margin-bottom: 0;
  margin-top: 146px;
}

.u-section-5 .u-metadata-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-2 {
  margin-left: 0;
  margin-right: 0;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin-bottom: 0;
}

.u-section-5 .u-image-3 {
  background-image: url("images/2_20221202_180730_0001.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 1px;
}

.u-section-5 .u-text-5 {
  margin-bottom: 0;
  margin-top: 146px;
}

.u-section-5 .u-metadata-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-3 {
  margin-left: 0;
  margin-right: 0;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin-bottom: 0;
}

.u-section-5 .u-image-4 {
  background-image: url("images/2_20221202_180730_0001.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 1px;
}

.u-section-5 .u-text-7 {
  margin-bottom: 0;
  margin-top: 146px;
}

.u-section-5 .u-metadata-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-4 {
  margin-left: 0;
  margin-right: 0;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20.6667px));
    grid-auto-columns: calc(33.333333333333336% - 20.6667px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.500024999999999px));
    grid-auto-columns: calc(50% - 15.500024999999999px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-6 {
  min-height: 363px;
}

.u-section-6 .u-gallery-1 {
  height: 136px;
  width: 1368px;
  margin: 114px auto 60px;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 22px;
}

.u-section-6 .u-back-image-1 {
  width: 245px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 22px;
}

.u-section-6 .u-back-image-2 {
  width: 245px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 22px;
}

.u-section-6 .u-back-image-3 {
  width: 245px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 22px;
}

.u-section-6 .u-back-image-4 {
  width: 245px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-right: 22px;
}

.u-section-6 .u-back-image-5 {
  width: 245px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  margin-right: 22px;
}

.u-section-6 .u-back-image-6 {
  width: 245px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 48px;
  padding: 8px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 48px;
  right: 0;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-gallery-1 {
    width: 340px;
  }
}